<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.printer.zebra"
        version="0.1.0">

  <name>Zebra</name>
  <description>Zebra Printer Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova, bluetooth, printer, Zebra</keywords>

  <asset src="www/zebra.js" target="js/zebra.js"/>

  <js-module src="www/zebra.js" name="zebra">
    <clobbers target="zebra" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="Zebra">
        <param name="ios-package" value="HWPZebra" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPZebra.h" target-dir="ZebraPlugin"/>
    <source-file src="src/ios/HWPZebra.m" target-dir="ZebraPlugin"/>
  </platform>

</plugin>