<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-zebra" version="0.2.3">
  <name>Printer Zebra Plugin</name>
  <description>Cordova Printer Zebra Plugin</description>
  <license>Apache 2.0</license>
  <keywords>printer,zebra</keywords>
  <js-module src="www/zebra.js" name="zebra">
    <clobbers target="zebra" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Device">
        <param name="ios-package" value="Zebra"/>
      </feature>
    </config-file>
    <header-file src="src/ios/Zebra.h" />
    <source-file src="src/ios/Zebra.m" />
  </platform>
</plugin>